html, body {
  margin:0;
  padding:0;
}

#chart {
  height:500px;
  text-align:center;
  width:100%;

  input {
    color:#aaa;
    font-size: 36px;
    text-align: center;
    border: none;
    margin-top: 100px;

    &:focus { outline:none; }
  }
}

canvas {
  -webkit-transform: translateY(-50%) translateX(-50%);
  left:50%;
  position: fixed;
  top:50%;
}
